* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.column-wrapper{
  border-right: 1px solid black;
}
.status {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 12px;
  padding-top: 12px;
}
.status-rect {
  width: 16px;
  height: 16px;
}

.groups {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.groups h3 {
  padding-left: 12px;
}
.groups-button-list {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.groups button {
  border: none;
  background-color: transparent;
  text-align: left;
  height: 32px;
  cursor: pointer;
  padding-left: 12px;
}


.details {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  gap: 8px;
}
.details-statuses {
  margin-top: 4px;
  padding-left: 12px;
}


.node-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}
.node-list button {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  height: 58px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.node-list-status {
  width: 20%;
}
.node-list-util {
  width: 40%;
  text-align: left;
}
button.gray {
  background-color: #F0F0F0;
}
button.selected {
  background-color: #00f6ff;
}
button.all {
  display: block;
}